<div class="row" %>
<div class="show-top-img">
	<% if @post.category_id == "1" then %>
		<div class="youtube-container">
		<iframe id="player" type="text/html"  src="https://www.youtube.com/embed/<%= @post.youtube_id %>"  frameborder="0"></iframe>
		</div>
	<% else %>
		<%= image_tag @post.pic.url(:large) %>
	<% end %>

</div>

<div class="show-top-desc">

<h1><%= @post.title %></h1>
<% @category= Category.find_by(id: @post.category_id )%>
<% @company = Company.find_by(id: @post.company_id)%>

<h2>CATEGORY: <%= @category.name %> </h2>
<h2>COMPANY: <%=link_to @company.name, @company%></h2>
<h2>PRODUCT: <%=Product.find(@post.product_id).name %></h2>


</div>

<% if current_user.id = 1 %>
<%= link_to "edit", edit_post_path(@post) %>   | <%= link_to "delete", @post, method: :delete,
                                  data: { confirm: "You sure?" } %>


     <% end %>

 </div>